.container {
    background-image: url(about.jpg);
    
     
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    p{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }