
<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column"  
    fxLayoutGap="10px">
    
<img  mat-card image src="assets/images/4.png" class="logos" >
    <br>
    <div fxFlex="100" fxFlex.gt-sm="50">
        <div fxLayout="row">
            <div fxFlex="100" fxFlexOffset="20px">
    <div class="solo">
    <h1 >Covid Consultation</h1>
    <hr>
    <h2>About</h2>
    <h4>Covid specialize  </h4>
    <br><hr><br>
    <a href="#Symptoms" >Symptoms&nbsp;|&nbsp; </a>
    <a href="#Treatment">Treatment&nbsp; |&nbsp; </a>
    <a href="#How it works">How it works&nbsp; |&nbsp; </a>
    <a href="#Benefits">Benefits&nbsp; |&nbsp; </a>
    <br><br><br>
    <br>
    <div class="content">
    <mat-card class="example-card" >
        <mat-card-title-group>
        <img mat-card-md-image  src="assets/images/doc1.jpg" >
        
        <mat-card-content >
            <h3 >Sahana Srihari</h3>
            10 years exp | MBBS, MD (Covid)<br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Kamineni Hospitals <br>
            8 Years Of experience<br>
            <i class="fa fa-clock-o"></i> &nbsp; Available From 10AM to 4PM<br>
            ₹ 800
        </mat-card-content>
        </mat-card-title-group>
        <mat-card-actions>
            <a routerLink="/home/CovidComponent/appointment"> <button mat-button>BOOK APPOINTMENT</button></a>
        </mat-card-actions>
    </mat-card>&nbsp;
    <mat-card class="example-card" >
        <mat-card-title-group>
        <img mat-card-md-image src="assets/images/doc5.jpg" >
        
        <mat-card-content >
            <h3 >Sachin Varma</h3>
            10 years exp | MBBS, MD (Covid)<br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Kamineni Hospitals <br>
            8 Years Of experience<br>
            <i class="fa fa-clock-o"></i> &nbsp; Available From 10AM to 4PM<br>
            ₹ 800
        </mat-card-content>
        </mat-card-title-group>
        <mat-card-actions>
            <a routerLink="/home/CovidComponent/appointment"> <button mat-button>BOOK APPOINTMENT</button></a>
      
        </mat-card-actions>
    </mat-card>&nbsp;
    <mat-card class="example-card" >
        <mat-card-title-group>
        <img mat-card-md-image  src="assets/images/doc3.jpg">
        
        <mat-card-content >
            <h3 >Senthil Sivaprakasam</h3>
            10 years exp | MBBS, MD (Covid)<br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Kamineni Hospitals <br>
            8 Years Of experience<br>
            <i class="fa fa-clock-o"></i> &nbsp; Available From 10AM to 4PM<br>
            ₹ 800
        </mat-card-content>
        </mat-card-title-group>
        <mat-card-actions>
            <span class="flex-spacer"></span>
            <a routerLink="/home/CovidComponent/appointment"> <button mat-button>BOOK APPOINTMENT</button></a>
      
        </mat-card-actions>
    </mat-card>&nbsp;
    <mat-card class="example-card" >
        <mat-card-title-group>
        <img mat-card-md-image src="assets/images/doc4.jpg" >   
        <mat-card-content >
            <h3 >Sanchit Talwar</h3>
            10 years exp | MBBS, MD (Covid)<br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Kamineni Hospitals <br>
            8 Years Of experience<br>
            <i class="fa fa-clock-o"></i> &nbsp; Available From 10AM to 4PM<br>
            ₹ 800
        </mat-card-content>
        </mat-card-title-group>
        <mat-card-actions>
            <a routerLink="/home/CovidComponent/appointment"> <button mat-button>BOOK APPOINTMENT</button></a>
        </mat-card-actions>
    </mat-card>&nbsp;
    <mat-card class="example-card" >
        <mat-card-title-group>
        <img mat-card-md-image  src="assets/images/doc2.jpg">
        
        <mat-card-content >
            <h3 >Vani Yepuri</h3>
            10 years exp | MBBS, MD (Covid)<br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Kamineni Hospitals <br>
            8 Years Of experience<br>
            <i class="fa fa-clock-o"></i> &nbsp; Available From 10AM to 4PM<br>
            ₹ 800
        </mat-card-content>
        </mat-card-title-group>
        <mat-card-actions>
           <a routerLink="/home/CovidComponent/appointment"> <button mat-button>BOOK APPOINTMENT</button></a>
        </mat-card-actions>
    </mat-card></div>&nbsp;

      <br>
      <br>
     <div id="details"> 
    <h2 id="Symptoms">Symptoms</h2>
    <h4 >Trichologists specialize in diagnosing and treating issues related to hair loss and scalp health.<br>Our Trichologist can help treat hair loss, alopecia, hair thinning, hair fall,itchy/flaky scalp and more. 
      <hr>Some of the other conditions are:<hr>
    <h3>Dandruff:</h3> Its a common scalp condition in which flakes of skin appears accompanied by itching. Symptoms of this condition include itchy scalp, skin flakes on scalp, hair,eyebrows, beard, and shoulders. In infants, scaly and crusty scalp with cradle cap appears.<br>Only a good hair fall doctor will be able to diagnose and treat this condition effectively.<br>
    <h3>Hair Loss:</h3> Also known as alopecia, it affects the scalp or full body.Hair loss can be caused by any medical condition, hormonal changes or hereditary. Symptoms include thinning of the scalp with age, patchy or circular bald spots on the head, sudden hair loss, full-body hair loss,patches of scaling that spreads on the scalp. Your find for a hair doctor near me ends at carefit.</h4>
    <h4><h2 id="Treatment">Treatment</h2>Trichologists specialize in diagnosing and treating issues related to hair loss and scalp health.Our Trichologist can help treat hair loss, alopecia, hair thinning, hair fall,itchy/flaky scalp and more. Some of the other conditions are 

        <h3>Dandruff:</h3> Its a common scalp condition in which flakes of skin appears accompanied by itching.Symptoms of this condition include itchy scalp, skin flakes on scalp, hair, eyebrows, beard, and shoulders. In infants, scaly and crusty scalp with cradle cap appears.<br>Only a good hair fall doctor will be able to diagnose and treat this condition effectively. <br>
            
        <h3>Hair Loss:</h3> Also known as alopecia, it affects the scalp or full body. Hair loss can be caused  by any medical condition, hormonal changes or hereditary. Symptoms include thinning of  the scalp with age, patchy or circular bald spots on the head, sudden hair loss, full-body hair loss,patches of scaling that spreads on the scalp. Your find for a hair doctor near me ends at carefit.</h4>
    <h4 ><h2 id="How it works">How it works</h2>Trichologists specialize in diagnosing and treating issues related to hair loss and scalp health.<br>Our Trichologist can help treat hair loss, alopecia, hair thinning, hair fall, itchy/flaky scalp and more. Some of the other conditions are 

        <h3>Dandruff:</h3>Its a common scalp condition in which flakes of skin appears accompanied by itching.<br>Symptoms of this condition include itchy scalp, skin flakes on scalp, hair,eyebrows, beard, and shoulders. In infants, scaly and crusty scalp with cradle cap appears.<br>Only a good hair fall doctor will be able to diagnose and treat this condition effectively. <br>
                
                <h3>Hair Loss:</h3> Also known as alopecia, it affects the scalp or full body. Hair loss can be caused  by any medical condition, hormonal changes or hereditary. Symptoms include thinning of the scalp with age, patchy or circular bald spots on the head, sudden hair loss, full-body hair loss,patches of scaling that spreads on the scalp. Your find for a hair doctor near me ends at carefit.</h4>
    <h4 ><h2 id="Benefits">Benefits</h2>Trichologists specialize in diagnosing and treating issues related to hair loss and scalp health.<br>Our Trichologist can help treat hair loss, alopecia, hair thinning, hair fall,itchy/flaky scalp and more. Some of the other conditions are

        <h3>Dandruff:</h3> Its a common scalp condition in which flakes of skin appears accompanied by itching. Symptoms of this condition include itchy scalp, skin flakes on scalp, hair,  eyebrows, beard, and shoulders. In infants, scaly and crusty scalp with cradle cap appears.<br>Only a good hair fall doctor will be able to diagnose and treat this condition effectively. <br>
                    
        <h3>Hair Loss:</h3> Also known as alopecia, it affects the scalp or full body. Hair loss can be caused  by any medical condition, hormonal changes or hereditary. Symptoms include thinning of  the scalp with age, patchy or circular bald spots on the head, sudden hair loss, full-body hair loss, patches of scaling that spreads on the scalp. Your find for a hair doctor near me ends at carefit.</h4>
    </div></div>
</div>
</div>
</div>    
</div>