img{
    width: 200px; height: 200px ; margin-left: 20px; margin-top: 20px;
}
mat-card{
     color: #000; background-color: white;

}
h1{
    font-weight: bold;
    text-align: center;
}
.lo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
}
.center{
    margin-top: 40px;
    text-align: center;
}